.buton{
    height:100px;
    width:100px;
    background:red;
    color:white;
    padding:5px;
}

.buton:hover{ 
         width:250px;
}

.buton2{
    width:20px;
    height:20px;
    padding:20px;
    background:yellow;
    color:red;
    border-radius:200px;


}
.buton2:hover{
    width:40px;
    height:40px;
    font-size:20px;
}

div {
    width: 100px;
    height: 100px;
    position: relative;
    animation:myexample 5s linear 2s infinite  alternate;
  }
  
  @keyframes myexample {
    0%   {background-color:red; left:0px; top:0px;}
    25%  {background-color:yellow; left:200px; top:0px;}
    50%  {background-color:blue; left:200px; top:200px;}
    75%  {background-color:green; left:0px; top:200px;}
    100% {background-color:red; left:0px; top:0px;}
  }