
@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
    }
    15% {
        box-shadow: 0 0 0 10px rgba(44, 144, 44, 0.7);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
}
@keyframes slide-in {
    0% {
        transform: translateX(-50%)  skew(10deg) ;
        background: red;
    }
}
