<html>
<head>
    <link rel="stylesheet" href="assets/bootstrap.min.css" />
</head>
<body>
<?php include "_nav.html";?>
<div class="container">
    <h1>Contact us</h1>
    <p>
        Please use the form below for contacting us
    </p>
    <?php echo $content; ?>
    <form name="contact" method="post">
        <p>
            <label for="yourname">Your name:</label>
            <input type="text" name="yourname" id="yourname" />
        </p>
        <p>
            <label for="comments">Comments:</label><br />
            <textarea name="comments" id="comments" rows="10" cols="80"></textarea>
        </p>
        <p>
            <input type="submit" name="submit" value="Send" class="btn btn-primary" />
        </p>
    </form>
</div>
<footer>
    <div class="container">
        <div class="text-right">Copyright &copy; 2021 Coding Bootcademy</div>
    </div>
</footer>
<script src="assets/jquery-3.5.1.slim.min.js"></script>
<script src="assets/bootstrap.bundle.min.js"></script>
</body>
</html>
