body{
    background-color: darkred;
}

.row{
    display: flex;
}

.column{
    flex: 33.33%;
    padding: 5px;
    text-align: center;
}

.vienna{
    height: 190px;
    width: 300px;
    object-fit: cover;
}

.title{
    color: white;
    text-shadow: 2px 2px 5px ivory;
    font-family: "Lucida Handwriting", sans-serif;
    text-align: center;
}

.city-information{
    font-family: "Comic Sans MS", sans-serif;
}

.city{
    background-color: ivory;
}