@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');


body {
  background-color: #E9511E;
  font-family: 'Roboto', sans-serif;
  color: #fff;
  margin: 0;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 4em 1.2em 3em;
}

.header-text {
  display: flex;
  flex-direction: column;
  max-width: 50%;
}

.header-text h1 {
  font-weight: 300;
  font-size: 2.5em;
}

.header-text p {
  font-weight: 200;
  font-size: 1.1em;
}
header img {
  width: 10em;
}

main {
  display: flex;
  flex-direction: row;
  margin-top: 6em;
}

.infos-container {
  background-color: #571A12;
  display: flex;
  flex-direction: column;
  padding: 2.5em;
  width: 33%;
}

.middle {
  margin: 0 4px;
}

.infos-container h3 {
  font-weight: 400;
  font-size: 1.3em;
}

.infos-container p {
  font-weight: 300;
  color: #c7c5c5;
  line-height: 21px;
  font-size: .97em;
}